/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/03/2016, 01:39:52 AM
    Author     : Eduardo Dominguez
*/
@charset "utf-8";
/*******Font´s**************/
@font-face{
    font-family: DiavloBlack;
    src:url(../fonts/);
    src:url(../fonts/DiavloBlack.eot?#iefix) format('embedded-opentype'),
        url(../fonts/DiavloBlack.woff2) format('woff2'),
        url(../fonts/DiavloBlack.woff) format('woff'),
        url(../fonts/DiavloBlack.ttf) format('truetype'),
        url(../fonts/DiavloBlack.svg#diavloblack) format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family: DiavloBold;
    src:url(../fonts/);
    src:url(../fonts/DiavloBold.eot?#iefix) format('embedded-opentype'),
        url(../fonts/DiavloBold.woff2) format('woff2'),
        url(../fonts/DiavloBold.woff) format('woff'),
        url(../fonts/DiavloBold.ttf) format('truetype'),
        url(../fonts/DiavloBold.svg#diavlobold) format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family: DiavloBook;
    src:url(../fonts/);
    src:url(../fonts/DiavloBook.eot?#iefix) format('embedded-opentype'),
        url(../fonts/DiavloBook.woff2) format('woff2'),
        url(../fonts/DiavloBook.woff) format('woff'),
        url(../fonts/DiavloBook.ttf) format('truetype'),
        url(../fonts/DiavloBook.svg#diavlobook) format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family: DiavloLight;
    src:url(../fonts/);
    src:url(../fonts/DiavloLight.eot?#iefix) format('embedded-opentype'),
        url(../fonts/DiavloLight.woff2) format('woff2'),
        url(../fonts/DiavloLight.woff) format('woff'),
        url(../fonts/DiavloLight.ttf) format('truetype'),
        url(../fonts/DiavloLight.svg#diavlolight) format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family: DiavloMedium;
    src:url(../fonts/);
    src:url(../fonts/DiavloMedium.eot?#iefix) format('embedded-opentype'),
        url(../fonts/DiavloMedium.woff2) format('woff2'),
        url(../fonts/DiavloMedium.woff) format('woff'),
        url(../fonts/DiavloMedium.ttf) format('truetype'),
        url(../fonts/DiavloMedium.svg#diavlomedium) format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family: Digital;
    src:url(../fonts/);
    src:url(../fonts/Digital.eot?#iefix) format('embedded-opentype'),
        url(../fonts/Digital.woff2) format('woff2'),
        url(../fonts/Digital.woff) format('woff'),
        url(../fonts/Digital.ttf) format('truetype'),
        url(../fonts/Digital.svg#digital-7regular) format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family: DigitalMono;
    src:url(../fonts/);
    src:url(../fonts/DigitalMono.eot?#iefix) format('embedded-opentype'),
        url(../fonts/DigitalMono.woff2) format('woff2'),
        url(../fonts/DigitalMono.woff) format('woff'),
        url(../fonts/DigitalMono.ttf) format('truetype'),
        url(../fonts/DigitalMono.svg#digital-7_monomono) format('svg');
    font-weight:normal;
    font-style:normal;
}
/*******General*************/
*{
    padding: 0;
    margin: 0;
}
input[type=text], input[type=password]{
    height: 30px;
    border-radius: 15px;
    border: none;
    margin: 10px;
    padding-left: 10px;
}
button{
    cursor: pointer;
    border: none;
}
body{
    background-color: #FFF;
    font-family: DiavloBook;
}
/******Clases*********/
.flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex-column{
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column; 
}

.flex-row{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row; 
}

.flex-row div, .flex-column div{
    flex: 0 0 auto;
    -webkit-flex:0 0 auto;
    -moz-flex:0 0 auto;
    -ms-flex:0 0 auto;
    -o-flex:0 0 auto;
}
.container-login-main{
    background-image: url(../img/bgindex.jpg);
    width: 100%;
    height: 100%;
}
.container-login{
    width: 300px;
}
.container-login input[type=text], .container-login input[type=password]{
    width: 270px;
}
.center-top-items1{
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
}
.center-top-items2{
    align-items: center;
    -webkit-align-items:center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
}

.center-items{
    justify-content: center;
    align-content: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-align-content:center;
    -webkit-align-items:center;
    -moz-justify-content: center;
    -moz-align-content:center;
    -moz-align-items:center;
    -ms-justify-content: center;
    -ms-align-content:center;
    -ms-align-items:center;
    -o-justify-content: center;
    -o-align-content:center;
    -o-align-items:center;
}
.container-login-btn{
    width: 100%;
}
.container-login-btn button{
    width: 90px;
    height: 30px;
    border: none;
}
.around-items{
    justify-content: space-around;
    align-content: space-around;
    align-items: stretch;
    -webkit-justify-content: space-around;
    -webkit-align-content:space-around;
    -webkit-align-items:stretch;
    -ms-justify-content: space-around;
    -ms-align-content:space-around;
    -ms-align-items:stretch;
    -moz-justify-content: space-around;
    -moz-align-content:space-around;
    -moz-align-items:stretch;
    -o-justify-content: space-around;
    -o-align-content:space-around;
    -o-align-items:stretch;
}
.justify-space-around{
    justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
}
.align-content-flex-start{
    align-content: flex-start;
    -ms-align-content: flex-start;
    -webkit-align-content: flex-start;
    -moz-align-content: flex-start;
    -o-align-content: flex-start;
}
.popUpMenu{
    padding: 10px;
    width: 225px;
    border-radius: 20px;
    left: 200px;
    top: 87px;
    text-align: center;
    background-color: rgba(27, 120, 178, 0.3);
    position: absolute !important;
    opacity: 0.7;
    display: none;
    z-index: 999;
}
.container-sec{
    position: relative;
    margin: 0 auto;
}
.container-sec{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.container-subsec{
    width: 100%;
}
.menu-edit-main{
    width: 100%;
}
.menu-edit button{
    margin: 20px;
    width: 110px;
    height: 30px;
    boder: 1px #0066cc;
    background: url(../img/boton1.png) center no-repeat;
    color: white;
}

/*******ID's'*********/
#wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
#btn-login{
    background-color: #1B78B2;
}
#btn-cancel{
    background-color: #C30454;
}
#menu{
    position: relative;
    height: 100%;
    width: 220px;
}
#menu div{
    position: fixed;
    height: 100%;
}
#menu div img{
    cursor: pointer;
}
#menu div ul{
    list-style: none;
    text-transform: uppercase;
    height: calc(100% - 90px);
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    -o-flex: 1 0 auto;
}
#menu div li{
    cursor: pointer;
    /*padding: 30px;*/
    /*margin: 80px 10px;*/
}
#contenido{
    width: calc(100% - 220px);
}
#popUpMenu_instituciones{
    top: 190px;
}
#popUpMenu_pacientes{
    top: 285px;
}
#popUpMenu_usuarios{
    top: 385px;
}

